.divider-gray {
    height: 1px;
    background-color: $gray95;
    clear: both;
}

.order-details, .returns-exchanges, .tog-returns-exchanges, .standard-returns-exchanges, .exchange-details {
    .top-menu {
        position: absolute;
        top: 20px;
        left: 20px;

        i {
            margin: 0 5px;
        }
    }
    .header__ {
        padding: 0 10px 0;
    }
    .gap {
        height: 20px;
        border-bottom: 1px solid $gray95;
    }
    .items {
        padding: 0 10px;
    }
}

.returns-exchanges, .tog-returns-exchanges {
    .header__ .tog {
        padding: 25px;
        width: 40%;

        .name span {
            margin: 0 15px;
        }
        .description {
            margin-top: 15px;

            span {
                display: block;
            }
        }
        i {
            width: 12px;
            height: 12px;
        }
    }
}

.tog-returns-exchanges, .standard-returns-exchanges {
    .header__ .title {
        .product-container {
            padding: 30px 0 15px;
            display: flex;
            justify-content: flex-start;

            .product__image {
                position: relative;
                text-align: center;
                // padding-left: 10px;
                // padding-right: 10px;
                height: 120px;
                box-sizing: border-box;         
                margin-right: 20px;

                img {
                    width: 120px;
                }
            }

            .info {
                p.name {
                    margin-bottom: 15px;
                }
                p.product__price {
                    margin-top: 10px;
                }
            }
        }
        .confirmation {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 80%;
        }
    }
    // Step 1
    .options {
        padding: 35px 0 15px;
        display: flex;
        justify-content: flex-start;

        .option:first-child {
            margin-right: 60px;
        }
    }

    // Exchange Step2(Options)
    .variant {
        padding: 30px 0 10px;
        display: flex;
        justify-content: flex-start;

        p.xx-small {
            margin-bottom: 10px;
        }

        .style-selection-container {
            width: 350px;
            margin-right: 60px;

            & + p.xx-small {
                margin-top: 30px;
            }

            select {
                &:before {
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: 8px;
                    width: 0; 
                    height: 0; 
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid #f00;
                }
                
                &:after {
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: 3px;
                    width: 0; 
                    height: 0; 
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid #333;
                }
            }
        }

        .color-selection-container {
            width: 350px;
            display: flex;

            .selection-container {
                display: flex;
                flex-direction: column;

                .product__image {
                    position: relative;
                    text-align: center;
                    box-sizing: border-box; 
                    margin-right: 20px;
                    
                    img {
                        width: 100px;
                    }
                }
            }

            .product-color-selection {
                display: flex;
                flex-direction: column;

                .available-colors {
                    line-height: 1;

                    .color-option {
                        width: 33px;
                        height: 33px;
                        padding: 2px;
                        border: 2px solid white;
                        cursor: pointer;
                        -webkit-transition: all 300ms;
                        transition: all 300ms;
                        &.selected {
                            border: 2px solid #C1C1C1;
                        }
                        &.out-of-stock {
                            .color-swatch::after {
                                content: '';
                                width: 25px;
                                height: 25px;
                                display: inline-block;
                                background-repeat: no-repeat;
                                text-decoration: none;
                                position: absolute;
                                top: -1px;
                                left: -1px;
                                background-image: url("//dnot03sv28nkw.cloudfront.net/assets/product_detail_page/sold_out_color_01-ec894e1af0bdc95b33b0ce4c075b1a0e.svg");
                            }
                        }
                    }
                    .color-swatch {
                        width: 25px;
                        height: 25px;
                        border: 1px solid #777777;
                        overflow: hidden;
                        position: absolute;
                    }
                    .color-option, .color-swatch {
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        outline: none;
                    }
                }
            }
        }
    }
    // Exchange Step3(Reasons)
    .reasons {
        padding: 35px 0 35px;
        display: flex;
        margin-bottom: 25px;
        flex-wrap: wrap;

        .option {
            flex: 1 0 50%;
            margin-bottom: 35px;
        }
    }

    .payment-methods {
        padding: 35px 0 35px;
        display: flex;
        justify-content: flex-start;
        
        .option:first-child {
            width: 40%;
        }
    }

    .containers {
        padding: 35px 0 35px;
        display: flex;
        justify-content: flex-start;
        
        .option:first-child {
            width: 40%;
        }
    }

    .btn-continue {
        width: 255px;
        margin-top: 20px;
    }
}

@media #{$mobile} {
    .order-details, .returns-exchanges, .tog-returns-exchanges, .standard-returns-exchanges, .exchange-details {
        .top-menu {
            top: 30px;
            left: 10px;
        }
    }

    .returns-exchanges, .tog-returns-exchanges {
        .header__ {
            .tog {
                width: 100%;
                margin-top: 20px;

                .description {
                    display: none;
                }
            }
        }
    }

    .tog-returns-exchanges, .standard-returns-exchanges {
        .header__ {
            margin-top: 50px;
            
            .title {
                .product-container {
                    justify-content: space-between;

                    & > .product__price {
                        display: block !important;
                        margin-left: auto;
                    }

                    .info {
                        p.product__price {
                            display: none;
                        }
                    }
                }

                .confirmation {
                    margin: 0;
                    width: 100%;
                }
            }
        }

        .options {
            flex-wrap: wrap;

            .option:first-child {
                margin-bottom: 35px;
            }
        }

        .variant {
            flex-direction: column;

            .style-selection-container {
                select {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            
            .color-selection-container {
                margin-top: 30px;
            }

            .style-selection-container, .color-selection-container {
                width: 100%;
            }
        }

        .reasons {
            .option {
                flex: 1 0 100%;
            }
        }

        .payment-methods {
            flex-wrap: wrap;
            
            .option:first-child {
                width: 100%;
                margin-bottom: 45px;
            }
        }

        .containers {
            flex-wrap: wrap;

            .option:first-child {
                width: 100%;
                margin-bottom: 35px;
            }
        }

        .btn-continue {
            width: 100%;
        }
    }
}