.exchange-details {
    .header__ {
        display: grid;
        grid-template-columns: 60% 40%;
        .title {
            p {
                margin-bottom: 30px;
            }
        }
    }
    .details {
        p {
            font-weight: 600 !important;
        }
        .extra {
            font-weight: normal !important;
        }
    }
    .btn.view-shipping-label {
        margin: 25px 0;
    }
}