.orders {
    font-style: normal;
    font-weight: normal;

    .header__ {
        .period-container {
            display: flex;
            justify-content: space-between;

            .select-period {
                padding: 0;
                width: 200px;
            }

            .return-gift {
                min-width: 220px;
            }
        }
    }

    @media #{$mobile} {
        .header__ {
            .period-container {
                .select-period {
                    font-weight: 600;
                    margin-right: 10px;
                }
                
                .return-gift {
                    min-width: unset;
                }

                .select-period, .return-gift {
                    flex: 1;
                }
            }
        }
    }
}