.order-container {
    // padding: 35px 10px 0;
    padding-top: 35px;
    margin-top: 20px;
    
    /* Lightest Gray */
    border-top: 1px solid #F2F2F2;
    .info {
        // display: grid;
        // grid-template-columns: 30% 30% auto;
        // grid-column-gap: 20px;
        display: flex;
        justify-content: flex-start;
        
        @media #{$mobile} {
            flex-wrap: wrap;
        }

        .order-name {
            min-width: 220px;
        }

        .total-count {
            order: 2;

            @media #{$mobile} {
                order: 3;
                margin-top: 15px;
            }
        }

        .delivery-status {
            order: 3;
            margin-left: auto;

            @media #{$mobile} {
                order: 2;
            }
        }
    }
    .actions {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-gap: 20px;
        display: flex;
        justify-content: space-between;
        button {
            flex: 1;
            &:first-child {
                margin-right: 20px;

                @media #{$mobile} {
                    margin-right: 10px;
                }
            }
        }
    }
}