.order-details {
    .header__ {
        .start {
            margin-top: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .contact {
                font-family: $font-family-sans-serif;
                width: 50%;
            }

            .btn {
                margin: auto 0 auto auto;
            }

            .start-return {
                margin-left: auto;
            }
        }
    }

    .items {
        .items__header {
            padding-top: 35px;
            display: flex;

            .total-line {
                min-width: 220px;
            }
        }
        .item {
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .product__info {
                display: flex;

                .product__image {
                    position: relative;
                    text-align: center;
                    height: 120px;
                    box-sizing: border-box;
                    padding: 15px 5px;
                    margin-right: 20px;
    
                    img {
                        width: 100px;
                        height: 100%;
                    }
                }
                
                .product__description {
                    p.name {
                        margin-bottom: 15px;
                    }

                    p.quantity {
                        display: none;
                    }
                }

                .product__price {
                    display: none;
                }
            }
            .product__reorder {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .product__quantity {
                    min-width: 220px;
                    p:nth-child(2) {
                        margin-top: -5px;
                    }
                }

                .btn {
                    padding: 5px 10px !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    span {
                        margin-left: 5px;
                    }
                }
            }
        }
        .sub-total-info {
            display: grid;
            grid-template-columns: auto auto;
            padding-top: 25px;
            .info, .price-list {
                p {
                    font-family: $font-family-sans-serif;
                    color: $gray;
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .total-info {
            padding: 20px 0 15px;
        }
    }
    .extra-info {
        .title {
            padding: 40px 10px 0;
        }
        .delivery-info {
            display: flex;
            padding: 45px 10px 0;

            .shipped-info {
                flex-basis: 340px;
            }

            .shipped-info, .billed-info {
                p.small {
                    font-family: "Lato", sans-serif !important;
                }
            }
        }
        
        .payment-info {
            padding: 50px 10px 100px;
        }

        .delivery-info, .payment-info {
            p {
                margin-bottom: 15px;
            }
        }
    }

    @media #{$mobile} {
        margin-top: 45px;

        .header__ {
            .start {
                flex-direction: column;
                align-items: baseline;

                .contact {
                    width: 100%;
                }

                .start-return {
                    margin-left: 0;
                    margin-top: 20px;
                    min-width: 220px;
                }
            }
        }

        .items {
            .items__header {
                flex-direction: column;
                align-items: flex-start;

                .order__status {
                    margin-top: 20px;
                }
            }

            .item {
                .product__info {
                    width: 100%;

                    .product__description {
                        p.quantity {
                            display: block;
                        }
                    }

                    .product__price {
                        display: block;
                        margin-left: auto;
                    }
                }

                .product__reorder {
                    width: 100%;

                    .product__quantity {
                        display: none;
                    }

                    .btn {
                        margin-top: 20px;
                    }
                }
            }
        }

        .extra-info {
            .title {
                .gap {
                    display: none;
                }
            }

            .delivery-info {
                flex-wrap: wrap;
                padding: 0 10px 0;

                .shipped-info {
                    margin-bottom: 50px;
                }
            }

            .payment-info {
                padding-bottom: 50px;
            }
        }
    }
}