.returns-exchanges {
    .header__ {
        display: flex;
        justify-content: space-between;

        .title {
            display: flex;
            flex-direction: column;
            width: 50%;

            p:nth-child(1) {
                margin-bottom: 20px;
            }
        }
    }

    .items {
        padding-right: 10px !important;

        p.info {
            padding-top: 40px;
        }

        .item {
            display: flex;
            justify-content: space-between;
            padding: 20px 25px 0 0;

            .product__info {
                display: flex;

                .product__image {
                    position: relative;
                    text-align: center;
                    padding: 25px 10px;
                    // padding: 10px;
                    height: 120px;
                    box-sizing: border-box;
                    margin-right: 20px;

                    i {
                        top: 5px;
                        left: 5px;
                        width: 16px;
                        height: 16px;
                        z-index: 1000;
                    }                

                    img {
                        width: 90px;
                        height: 100%;
                    }
                }

                .product__description {
                    p.name {
                        margin-bottom: 15px;
                    }
                    p.product__price {
                        margin-top: 10px;
                    }
                    span.detail {
                        color: $davy-gray;
                    }
                }
            }
            
            .return-info__container {
                .return-info__detail {
                    float: right;
                }
                &.selected {
                    display: flex;
                    align-items: center;
                    width: 40%;
                }

                .btn {
                    width: 85px !important;
                    margin-left: auto;
                }
            }

            .actions {
                .select-option {
                    margin-top: 15px;
                }
            }

            .btn {
                padding: 5px 10px !important;
                width: 220px;
                float: right;
            }
        }
        & > .btn {
            margin-top: 25px;
        }
    }

    @media #{$mobile} {
        margin-top: 45px;

        .header__ {
            flex-wrap: wrap;

            .title {
                width: 100%;
            }
        }

        .items {
            p.info {
                padding-top: 30px;
            }

            .item {
                flex-wrap: wrap;
                padding-right: 0;

                .product__info {
                    width: 100%;

                    .product__description {
                        margin-right: 20px;
                        p.product__price {
                            display: none;
                        }
                    }

                    & > .product__price {
                        display: block !important;
                        margin-left: auto;
                        margin-top: -3px;
                    }
                }
            }

            .return-info__container {
                &.selected {
                    width: 100% !important;
                    margin-top: 10px;
                }
            }

            .actions {
                width: 100% !important;
                .btn {
                    width: 100% !important;
                }
            }
        }

        .btn-complete {
            width: 100%;
        }
    }
}