.standard-returns-exchanges {
    .header__:not(.authorization) {
        // display: grid;
        // grid-template-columns: 60% 40%;
        display: flex;
        justify-content: space-between;
    }
    // Standard Exchange Step4(Return methods)
    .return-method {
        padding: 30px 0 30px;
    }
    // Standard Exchange Step6(Payment Authorization)
    .card-information__container {
        .card-information {
            display: flex;

            @media #{$mobile} {
                flex-wrap: wrap;
            }

            .card-number {
                width: 48%;

                @media #{$mobile} {
                    width: 100%;   
                }
            }

            .card-security {
                display: flex;
                width: 48%;
                margin-left: 2%;

                @media #{$mobile} {
                    width: 100%;
                    margin-left: 0;
                }

                .expiration-date {
                    margin-right: 4%;
                }
                .expiration-date, .cvv {
                    width: 48%;
                    input,select {
                        margin-top: 10px;
                        height: 40px;
                        padding: 0.75em 0.5em;
                        border: 1px solid #ccc;
                        width: 100%;
                    }
                }
            }
            
            .vdp-datepicker.error input {
                border: 1px solid red;
            }
        }
    }
    .billing-information {
        .name-fields {
            .first-name, .last-name {
                width: 23%;

                @media #{$mobile} {
                    width: 48%;
                }
            }
            .first-name {
                margin-right: 2%;

                @media #{$mobile} {
                    margin-right: 4%;
                }
            }
        }
        .address-fields {
            display: flex;

            @media #{$mobile} {
                flex-direction: column;
            }

            .address-1, .address-2 {
                width: 48%;

                @media #{$mobile} {
                    width: 100%;
                }
            }
            .address-1 {
                margin-right: 2%;
            }
        }
        .extra-fields {
            display: flex;

            @media #{$mobile} {
                flex-wrap: wrap;
            }

            .city, .zipcode, .state, .country {
                width: 23%;

                @media #{$mobile} {
                    flex: 1 0 48%;    
                }
            }
            .city, .zipcode, .state {
                margin-right: 2%;
            }
        }
    }
    input.small, .vdp-datepicker input {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #555;
    }

    @media #{$mobile} {
        .city, .state {
            margin-right: 4% !important;
        }

        .zipcode {
            margin-right: 0 !important;
        }
    }
}