.tog-returns-exchanges {
    .header__ {
        // display: grid;
        // grid-template-columns: 60% 40%;
        display: flex;
        justify-content: space-between;

        @media #{$mobile} {
            flex-wrap: wrap;
        }
        
        .title {
            width: 50%;

            @media #{$mobile} {
                width: 100%;
                order: 2;
            }

            .product-container {
                .product__image {
                    padding-top: 25px;
                    padding-bottom: 25px;

                    i {
                        top: 5px;
                        left: 10px;
                        width: 16px;
                        height: 16px;
                        z-index: 1000;
                    }
                }
            }
        }

        .tog {
            margin-bottom: 85px;

            @media #{$mobile} {
                margin-bottom: 30px;
            }
        }
    }

    .variant {
        .style-selection-container {
            .btn {
                width: 45%;
                height: 50px !important;
                display: inline-block;
                &:nth-child(odd) {
                    margin-right: 10%;
                }
                &.selected {
                    outline-offset: 2px;
                    outline: 1px solid $light-blue;
                }
            }
        }
    }
    .send-back {
        padding: 30px 0 15px 20px;
    }
    .send-back-description {
        padding: 15px 0 30px 20px;
    }
}