/*===================
  Display Classes
 ===================*/
.display-table {
    display: table !important;
}
.display-table-cell {
    display: table-cell !important;
}
.display-grid {
    display: grid !important;
}
.d-inline {
    display: inline !important;
}
.d-inline-block {
    display: inline-block !important;
}

.d-none {
    display: none !important;
}

/*===================
  Text Classes
 ===================*/
.text-decoration-none {
    text-decoration: none !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}

.color-light-blue {
    color: $light-blue !important;
}
.color-olive {
    color: $olive !important;
}
.color-light-green {
    color: $light-green !important;
}
.color-gray {
    color: $gray !important;
}
.color-davy-gray {
    color: $davy-gray !important;
}
.color-silver {
    color: $silver;
}
.color-whisper {
    color: $whisper !important;
}

/*===================
  Background Classes
 ===================*/
.bg-light-gray {
    // background: $light-gray;
    background: $gray97;
}
.bg-lightest-gray {
    // background: $lightest-gray;
    background: $gray95;
}

.vertical-align-top {
    vertical-align: top;
}

.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}

/*===================
  Font Classes
 ===================*/
.font-weight-light {
    font-weight: 300 !important;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.font-weight-600 {
    font-weight: 600 !important;
}
.font-weight-bold {
    font-weight: bold !important; 
}
.font-weight-italic {
    font-style: italic !important;
}
.font-size-0 {
    font-size: 0 !important;
}

/*===================
  Padding Classes
 ===================*/
.p-0 {
    padding: 0 !important;
}

/*===================
  Position Classes
 ===================*/
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}

/*===================
  Width/Height Classes
 ===================*/
.w-100 {
    width: 100% !important;
}
.h-100 {
    height: 100% !important;
}

/*===================
  Margin Classes
 ===================*/
.mt-30, .my-30, .m-30 {
    margin-top: 30px !important;
}
.mb-30, .my-30, .m-30 {
    margin-bottom: 30px !important;
}
.ml-30, .mx-30, .m-30 {
    margin-left: 30px !important;
}
.mr-30, .mx-30, .m-30 {
    margin-right: 30px !important;
}
.mt-20, .my-20, .m-20 {
    margin-top: 20px !important;
}
.mb-20, .my-20, .m-20 {
    margin-bottom: 20px !important;
}
.ml-20, .mx-20, .m-20 {
    margin-left: 20px !important;
}
.mr-20, .mx-20, .m-20 {
    margin-right: 20px !important;
}
.mt-10, .my-10, .m-10 {
    margin-top: 10px !important;
}
.mb-10, .my-10, .m-10 {
    margin-bottom: 10px !important;
}
.ml-10, .mx-10, .m-10 {
    margin-left: 10px !important;
}
.mr-10, .mx-10, .m-10 {
    margin-right: 10px !important;
}
.ml-auto {
    margin-left: auto !important;
}

/*===================
  Padding Classes
 ===================*/
 .pt-30, .py-30, .p-30 {
    padding-top: 30px !important;
}
.pb-30, .py-30, .p-30 {
    padding-bottom: 30px !important;
}
.pl-30, .px-30, .p-30 {
    padding-left: 30px !important;
}
.pr-30, .px-30, .p-30 {
    padding-right: 30px !important;
}
.pt-20, .py-20, .p-20 {
    padding-top: 20px !important;
}
.pb-20, .py-20, .p-20 {
    padding-bottom: 20px !important;
}
.pl-20, .px-20, .p-20 {
    padding-left: 20px !important;
}
.pr-20, .px-20, .p-20 {
    padding-right: 20px !important;
}
.pt-10, .py-10, .p-10 {
    padding-top: 10px !important;
}
.pb-10, .py-10, .p-10 {
    padding-bottom: 10px !important;
}
.pl-10, .px-10, .p-10 {
    padding-left: 10px !important;
}
.pr-10, .px-10, .p-10 {
    padding-right: 10px !important;
}

/*===================
  Error Messages
 ===================*/
span.help {
    display: block;
    &.is-danger {
        color: red;
        font-style: italic;
        margin-bottom: 5px;
    }
}
input.error {
    border: 1px solid red !important;
}

/*===================
  Font Family
 ===================*/
.font-family-Lato {
    font-family: "Lato", sans-serif !important;
}

.font-family-Montserrat {
    font-family: "Montserrat", sans-serif !important;
}