.orders {
    .title {
        font-family: 'SF Pro Display';
        font-size: 28px;
        line-height: 32px;
    }

    .pagination {
        margin: auto;
        padding: 2.4rem 1.6rem;
        border-top: .1rem solid #dfe3e8;
        text-align: center;
    }
}

@media (min-width: 640px) {
    .OrderListItem {
        min-width: 0;
        max-width: 100%;
        flex: 1 1 auto;
        align-self: center;
    }

    .OrderListItem__Main {
        // display: grid;
        // grid-template-columns: 16% repeat(4,minmax(10%,1fr)) 12%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        * {
            flex-basis: 10%;
        }
        .OrderListItem__ShipmentStatus{
            flex-basis: 100px;
        }
        .OrderListItem__Status{
            flex-basis: 150px;
        }
        .OrderListItem__CustomerEmail {
            flex-basis: 250px;
        }
        .OrderListItem__CustomerName {
            flex-basis: 250px;
        }
        .OrderListItem__Number {
            color: #007ACE;
        }
    }
}