.order {
    .header-1 {
        display: grid;
        grid-template-columns: 5% 45% 50%;
        padding: 20px 0 !important;
    }
    .header-2 {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 20px 0 !important;
    }
    .return-actions {
        margin: auto 0;
        button, a {
            margin-right: 20px;
        }
    }

    .Polaris-Layout__Section {
        &:first-child {
            .Polaris-Card {

                margin-top: 10px;

                &:first-child, &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
    }
}
