.ProductReturn {
    #cancel {
        margin-right: 10px;
        background: linear-gradient(to bottom, white, #f9fafb);
        box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
        border: .1rem solid #c4cdd5;
        color: #212b36;
    }
}