<template>
  <div>
      <Loader v-if="loading" />
      <div v-else class="exchange-details" v-show="!isEmpty(detail)">
        <div class="top-menu">
          <p class="x-small">
            <router-link :to="{ name: 'Orders' }" class="router"><span class="color-light-blue">Orders & Returns</span></router-link><i class="fa fa-angle-right"></i>Exchange Details
          </p>
        </div>
        <div class="header__">
          <div class="title">
            <p class="large">{{page_title}}</p>
          </div>
        </div>
        <div class="description">
          <p class="small font-family-Lato" v-for="(description, index) in descriptions" :key="index">{{description}}</p>
        </div>
        <div class="divider-gray"></div>
        <div class="details">
          <div class="details__info mt-30">
            <p class="x-small mb-5">{{ detail.created_at | formatDate2 }}</p>
            <p class="medium">Order: <span class="extra">#{{ detail.order_number | capitalizeAll }}</span></p>
            <p class="medium">Return #: <span class="extra">{{ return_id | capitalizeAll }}</span></p>
            <p class="medium">Reason: <span class="extra">{{ detail.reason | capitalize }}</span></p>
          </div>
          <div class="details__status mt-30">
            <p class="x-small">RETURN STATUS</p>
            <p class="medium">Received: <span class="extra">{{ received_at }}</span></p>
          </div>
        </div>
        <p class="small font-family-Lato return-quiz">
          <span v-if="detail.reimbursement_type_id == 3">Questions about your return?</span>
          <span v-if="detail.reimbursement_type_id == 4">Questions about your exchange?</span>
          <span v-if="detail.reimbursement_type_id == 1">Questions about your refund?</span>
          <span v-if="detail.reimbursement_type_id == 2">Questions about your replacement?</span>
          Find answers <a class="router color-light-blue" href="#">here</a>.</p>
        <p class="small return-item-category">
          <span v-if="detail.reimbursement_type_id == 3 || detail.reimbursement_type_id == 4">Item(s) to be returned</span>
          <span v-if="detail.reimbursement_type_id == 1 || detail.reimbursement_type_id == 2">Original Item</span>
        </p>
        <div class="item return-item">
          <div class="product__image bg-light-gray">
            <i v-if="detail.reimbursement_type_id == 1 || detail.reimbursement_type_id == 2" class="fa fa-star color-light-blue position-absolute" ></i>
            <img class="" :src="detail.variant.data.image.src" />
          </div>
          <div class="product__description">
            <p class="name x-small">{{ detail.variant.data.product.title }}</p>
            <p class="smaller" v-for="(option, index) in detail.variant.data.selectedOptions" :key="index">{{option.name}}: {{ option.value }}</p>
          </div>
          <div class="product__reorder">
            <p><span class="smaller vertical-align-top">Quantity: {{ detail.quantity }}</span></p>
          </div>
          <div class="product-price">
            <p><span class="medium font-weight-600 float-right">${{ detail.variant.data.price }}</span></p>
          </div>
        </div>
        <p class="small return-item-category">
          <span v-if="detail.reimbursement_type_id == 4">Exchanged for</span>
          <span v-if="detail.reimbursement_type_id == 2">Replaced with</span>
        </p>
        <div class="item return-item" v-if="detail.reimbursement_type_id == 2 || detail.reimbursement_type_id == 4">
          <div class="product__image bg-light-gray">
            <img class="" :src="detail.exchange_variant.data.image.src" />
          </div>
          <div class="product__description">
            <p class="name x-small">{{ detail.exchange_variant.data.product.title }}</p>
            <p class="smaller" v-for="(option, index) in detail.exchange_variant.data.selectedOptions" :key="index">{{option.name}}: {{ option.value }}</p>
          </div>
          <div class="product__reorder">
            <p><span class="smaller vertical-align-top">Quantity: {{ detail.quantity }}</span></p>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
import Loader from '../components/Loader.vue'
import Common from '../components/Common.vue'
import moment from 'moment'
import { store } from '../store'
import { returnDetail } from '../apis/index.js'
import { consts } from '../utils/consts.js'

export default {
  name: 'ExchangeDetails',
  extends: Common,
  components: {
    Loader,
  },
  data() {
    return {
      detail: {},
      loading: true,
      return_id: this.$route.params.return_id
    }
  },
  computed: {
    received_at () {
      return this.detail.processed ? moment(String(this.detail.updated_at)).format('MMM DD, YYYY') : ''
    },
    page_title () {
      let title = 'Exchange Details'
      if (this.detail.reimbursement_type_id == 1 ) {
        title = 'Refund Details'
      } else if (this.detail.reimbursement_type_id == 2) {
        title = 'Replacement Details'
      } else if (this.detail.reimbursement_type_id == 3) {
        title = 'Return Details'
      }
      return title
    },
    descriptions () {
      let descriptions = consts.DESCRIPTION.EXCHANGE.STANDARD
      if (this.detail.reimbursement_type_id == 1 ) {
        descriptions = consts.DESCRIPTION.RETURN.TOG
      } else if (this.detail.reimbursement_type_id == 2) {
        descriptions = consts.DESCRIPTION.EXCHANGE.TOG
      } else if (this.detail.reimbursement_type_id == 3) {
        descriptions = consts.DESCRIPTION.RETURN.STANDARD
      }
      return descriptions
    }
  },
  created() {
    this.loadDetail()
  },
  methods: {
    loadDetail () {
      returnDetail(this.$route.params.return_id).then(res => {
        this.detail = res.data.return_data
        console.log(this.detail)
      }).catch(err => {
        console.log(err)
      }).then(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style lang="scss">
  .exchange-details {
    .details {
      display: flex;
      .details__info {
        width: 40%;
      }
    }
    @media (max-width: 768px) and (-webkit-min-device-pixel-ratio:0) {
      .details {
        display: block;
      }
    }
    .description {
      p {
        padding-bottom: 20px;
        &:last-child {
          padding-bottom: 5px;
        }
      }
    }
    .return-quiz {
      padding: 20px 0;
    }
    .return-item-category {
      padding: 20px 0;
    }
    .return-item {
      display: flex;
      .product__description {
        width: 30%;
        .name {
          padding-bottom: 14px;
        }
      }
      .product__reorder {
        min-width: 100px;
      }
      .product-price {
        width: 30%;
        p {
          text-align: right;
        }
      }
    }
  }

</style>


