<template>
    <div>
        <Loader v-if="loading" />
        <div v-else class="orders">
            <div class="header__">
                <h2 class="title color-davy-gray">Orders & Returns</h2>
                <div class="period-container mt-30">
                    <select name="" id="" @change="getOrders(page)" class="form-control select-period" v-model="selectPeriod">
                        <option v-for="period in periods" :key="period.value" :value="period.value">
                            {{period.text}}
                        </option>
                    </select>
                    <button type="button" class="btn btn-md btn-light-blue float-right return-gift">Return a Gift</button>
                </div>
            </div>
            <div v-if="!loading" >
                <div v-for="(order, index) in orders" :key="index">
                    <Order :order=order />
                </div>
                <div class="divider-gray my-20"></div>
                <Pagination v-if="orders.length>0 && maxPage>1" :curPage="currentPage" :maxPage="maxPage" :showableCurPage="showableCurrentPage" v-on:update:curpage="onPageChanged" v-on:update:showablecurpage="onShowablePageChanged"/>
            </div>
        </div>
    </div>
</template>
<script>
import Loader from '../components/Loader.vue'
import Pagination from '../components/Pagination.vue'
import Order from '../components/Order.vue'
import { getOrdersByDateRange } from '../apis'
import { store } from '../store'

export default {
    name: 'Orders',
    components: {
        Loader,
        Pagination,
        Order,
    },
    data() {
        return {
            loading: false,
            selectPeriod: 'last-6',
            orders: [],
            periods: [],
            currentPage: 1,
            showableCurrentPage: 1,
            maxPage: 1,
        }
    },
    created() {
        this.currentPage = this.$store.getters.cur_page
        this.periodsByYear()
        this.getOrders(this.currentPage)
    },
    methods: {
        periodsByYear() {
            let curYear = new Date().getFullYear()
            var periods = [
                { text: 'Last 6 months', value: 'last-6' },
                { text: 'Last 12 months', value: 'last-12' }
            ]
            for( var i = 0; i <= 3; i++) {
                periods.push({
                    text: curYear - i,
                    value: curYear - i
                })
            }
            periods.push({
                text: (curYear - i ) + ' and before',
                value: 'before-' + (curYear - i )
            })
            this.periods = periods
        },
        getOrders(page) {
            if( this.$store.state.cur_page == page && this.$store.state.orders.length ) {
                this.loading = true
                this.orders = this.$store.state.orders
                this.has_more = this.$store.state.has_more
                this.currentPage = this.$store.state.cur_page
                this.maxPage = this.$store.state.max_page
                this.loading = false
            }
            else {
                this.loading = true

                // let customer_id = 1367572283505                // Live Store
                // let customer_id = '2051184296049'           // Live Store
                let customer_id = '1288909848689'           // Live Store
                // let customer_id = '998608994376'            // QA Store

                // get customer id
                if (window.customer) {
                    customer_id = window.customer.id
                }
                console.log('customer id = ', customer_id)

                let data = {
                    range: this.selectPeriod,
                    page: page,
                    customer_id: customer_id
                }
                getOrdersByDateRange(data).then(res => {
                    console.log('getOrdersByDateRange = ', res.data)
                    this.orders = res.data.orders
                    this.has_more = res.data.has_more
                    this.currentPage = res.data.page
                    this.maxPage = res.data.max_page
                    this.loading = false

                    this.$store.dispatch('set_orders', res.data.orders)
                    this.$store.dispatch('set_has_more', res.data.has_more)
                    this.$store.dispatch('set_cur_page', res.data.page)
                    this.$store.dispatch('set_max_page', res.data.max_page)
                }).catch(err => {

                })
            }
        },
        onPageChanged(page) {
            this.getOrders(page)
        },
        onShowablePageChanged(page) {
            this.showableCurrentPage = page
        }
    }
}
</script>
<style lang="scss">
</style>


