<template>
  <div>
    <Loader v-if="loading" />
    <div class="order-details" v-if="!isEmpty(order) && !loading">
      <div class="top-menu">
        <p class="x-small">
          <router-link :to="{ name: 'Orders' }" class="router"><span class="color-light-blue">Orders & Returns</span></router-link><i class="fa fa-angle-right"></i>Order Details
        </p>
      </div>
      <div class="header__">
        <p class="date x-small">{{ order.created_at | formatDate2 }}</p>
        <p class="number medium"><strong>Order:</strong> {{ order.name }}</p>
        <div class="start">
          <p class="contact small">If you’ve received an incorrect item or damaged product, please email <span class="color-light-blue">hello@mackweldon.com</span> with your order number.</p>
          <button type="button" class="btn btn-md btn-light-blue router start-return" @click.prevent="goToPage('ReturnsExchanges')">Start A Return On Exchange</button>
        </div>
      </div>
      <div class="gap"></div>
      <div class="items">
        <div class="items__header">
          <div class="total-line">
            <p class="item-count x-small">{{ itemsCount }}</p>
            <p class="total medium"><strong>Total: </strong>${{ order.total_price }}</p>
          </div>
          <div class="order__status">
            <p class="item-count x-small">USPS Tracking #:
              <a v-if="canTrackOrder" :href="order.fulfillments[0].tracking_url" class="color-light-blue">{{ order.fulfillments[0].tracking_number }}</a>
              <a v-else>No Tracking Info</a>
            </p>
            <p class="total medium" v-if="!order.fulfillment_status"><strong>Status: </strong><span class="color-olive">Shipping Soon</span></p>
            <p class="total medium" v-else-if="order.fulfillment_status == 'parital'"><strong>Status: </strong><span class="color-light-green">Shipped - </span><a href="" class="color-light-blue">Track your order</a></p>
            <p class="total medium" v-else-if="order.fulfillment_status == 'fulfilled'"><strong>Status: </strong>Delivered</p>
          </div>
        </div>
        <div v-for="(item, index) in order.line_items" :key="index">
          <div class="gap"></div>
          <div class="item">
            <div class="product__info">
              <div class="product__image bg-light-gray">
                <img :src="item.extra.image" />
              </div>
              <div class="product__description">
                <p class="name x-small">{{ item.title }}</p>
                <p class="smaller">Color: {{ item.extra.color ? item.extra.color : 'No color' }}</p>
                <p class="smaller">Size: {{ item.extra.size ? item.extra.size : 'No size' }}</p>
                <p class="quantity smaller vertical-align-top d-inline">Quantity: {{ item.quantity }}</p>
              </div>
              <p class="product__price medium font-weight-600">${{ item.price }}</p>
            </div>
            <div class="product__reorder">
              <div class="product__quantity">
                  <p class="quantity smaller vertical-align-top d-inline">Quantity: {{ item.quantity }}</p>
                  <p class="medium font-weight-600 float-right">${{ item.price }}</p>
              </div>
              <div v-if="item.extra.return_info.returned" class="return-info__detail mt-20">
                  <p class="xx-small font-weight-bold text-uppercase">Return Details: <a @click.prevent="goToPage('ExchangeDetails', item.extra.return_info)" class="router color-light-blue">{{ item.extra.return_info.return_id }}</a></p>
              </div>
              <button :disabled="imported(item)" type="button" class="btn btn-md btn-outline-light-blue btn-block" @click.prevent="addToCart(item.variant_id)"><img :src="reorder_img" /><span>Reorder</span></button>
            </div>
          </div>
        </div>
        <div class="gap"></div>
        <div class="sub-total-info">
          <div class="info p-0">
            <p class="small">Item subtotal</p>
            <p class="small" v-for="(discount, index) in order.discount_applications" :key="index">
                {{ discount.title }}
            </p>
            <p class="small">Tax</p>
            <p v-if="!freeShipping" class="small">Shipping</p>
            <p v-if="receivedTip" class="small">Tip</p>
          </div>
          <div class="price-list text-right">
            <p class="small">${{ order.total_line_items_price }}</p>
            <p class="small" v-for="(discount, index) in order.discount_applications" :key="index">${{ discount.value }}</p>
            <!-- <p v-if="order.discount_applications.length" class="small">-${{ order.total_discounts }}</p> -->
            <p class="small">${{ order.total_tax }}</p>
            <p v-if="!freeShipping" class="small">${{ order.total_shipping_price_set.shop_money.amount }}</p>
            <p v-if="receivedTip" class="small">${{ order.total_tip_received | fixed2 }}</p>
          </div>
        </div>
        <div class="gap"></div>
        <div class="total-info">
          <p class="medium d-inline">Total</p>
          <p class="medium d-inline font-weight-600 float-right">${{ order.total_price }}</p>
        </div>
      </div>
      <div class="gap"></div>
      <div class="extra-info">
        <div class="title">
          <h2>Additional information</h2>
          <div class="gap"></div>
        </div>
        <div class="delivery-info">
          <div class="shipped-info">
            <p class="x-small">Shipped to:</p>
            <p class="small">{{ order.shipping_address ? order.shipping_address.name : 'No shipping address' }}</p>
            <p v-if="order.shipping_address" class="small">{{ address(order.shipping_address) }}</p>
            <p v-if="order.shipping_address" class="small">{{ city(order.shipping_address) }}</p>
          </div>
          <div class="billed-info">
            <p class="x-small">billed to:</p>
            <p class="small">{{ order.billing_address ? order.billing_address.name : 'No billing address' }}</p>
            <p v-if="order.billing_address" class="small">{{ address(order.billing_address) }}</p>
            <p v-if="order.billing_address" class="small">{{ city(order.billing_address) }}</p>
          </div>
        </div>
        <div class="payment-info">
          <p class="x-small">Payment Information:</p>
          <p class="small">{{ order.billing_address ? order.billing_address.name : '' }}</p>
          <p class="small">{{ order.payment_details ? order.payment_details.credit_card_company + ' ' + order.payment_details.credit_card_number : '' }}</p>
          <p class="small">{{ order.processed_at | formatDate1 }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Loader from '../components/Loader.vue'
import Common from '../components/Common.vue'
import { store } from '../store'
import config from '../config.json'
import { orderById } from '../apis/index.js'

export default {
  name: 'OrderDetails',
  extends: Common,
  components: {
    Loader
  },
  data() {
    return {
      order: {},
      loading: true,
      reorder_img: `${[config.API_HOST, config.REORDER_IMAGE].join('/')}`
    }
  },
  created() {
    this.$store.dispatch('loadOrder', this.$route.params.order_id).then(() => {
      this.order = this.$store.state.order
      console.log(this.$store.state.order)
      this.loading = false
    }).catch(err => {
      console.log(err)
      this.loading = false
    })
  },
  methods: {
  }
}
</script>
<style lang="scss">

</style>


