<template>
  <div>
    <Loader v-if="loading" />
    <div class="returns-exchanges" v-if="!isEmpty(order) && !loading">
      <div class="top-menu">
        <p class="x-small">
          <a @click.prevent="goToPage('OrderDetails')" class="router color-light-blue">Order {{ order.order_number }}</a><i class="fa fa-angle-right"></i>Returns & Exchanges
        </p>
      </div>
      <div class="header__">
        <div class="title">
          <h2>Returns & Exchanges</h2>
          <p class="small font-family-Lato">Choose an item, then tell us whether you'd like a refund or an exchange. We'll ask you for more details in the next steps..</p>
        </div>
        <div v-if="existTogProduct(order.line_items)" class="tog bg-lightest-gray text-center position-relative">
          <p class="x-small color-light-blue name"><i class="fa fa-star" aria-hidden="true"></i><span>TRY ON GUARANTEE</span><i class="fa fa-star" aria-hidden="true"></i></p>
          <p class="x-smaller description font-weight-italic">
            <span>If you don't love your fist pair of underwear or socks, we'll send you a different size or style, or issue you a refund-no return necessary.</span>
            <!-- <span>First pair didn’t work? Try out another pair in a</span>
            <span>different size or style that works better for you, on us,</span>
            <span>or opt for a refund.</span> -->
          </p>
        </div>
      </div>
      <div class="gap"></div>
      <div class="items">
        <p class="info medium">Choose item to return or exchange</p>
        <div v-for="(item, index) in order.line_items" :key="index">
          <div class="gap"></div>
          <div class="item">
            <div class="product__info">
              <div class="product__image bg-light-gray position-relative">
                <i v-if="checkTogProduct(item)" class="fa fa-star color-light-blue position-absolute" ></i>
                <img :src="item.extra.image" />
              </div>
                <div class="product__description">
                  <p class="name x-small">{{ item.title }}</p>
                  <p class="smaller">Color: <span class="detail">{{ item.extra.color ? item.extra.color : 'No color' }}</span></p>
                  <p class="smaller">Size: <span class="detail">{{ item.extra.size ? item.extra.size : 'No size' }}</span></p>
                  <p class="smaller">Quantity: <span class="detail">{{ item.quantity }}</span></p>
                  <p class="md font-weight-600 product__price">${{ item.price }}</p>
                </div>
                <p class="product__price medium font-weight-600 d-none">${{ item.price }}</p>
            </div>
            <div v-if="returned(item)" class="return-info__container">
              <div class="return-info__detail">
                  <p class="xx-small font-weight-bold text-uppercase">Return Details: <a @click.prevent="goToPage('ExchangeDetails', item.extra.return_info)" class="router color-light-blue font-weight-normal">{{ item.extra.return_info.return_id }}</a></p>
                <!-- <p class="xx-small font-weight-bold text-uppercase">Return Details: <span class="router color-light-blue font-weight-normal">{{ item.extra.return_info.return_id }}</span></p> -->
              </div>
            </div>
            <div v-if="returned(item)" class="return-info__container selected">
              <div class="return-info__detail">
                <p class="xx-small font-weight-600">{{ item.extra.return_info.detail.method | capitalizeAll }}</p>
                <p class="smaller gray">Reason: <span class="color-davy-gray">{{ item.extra.return_info.detail.reason | capitalize }}</span></p>
              </div>
              <button type="button" class="btn btn-md btn-outline-light-blue router w-100" v-if="!item.extra.return_info.processed">Edit</button>
            </div>
            <div v-if="!returned(item)" class="actions">
              <button :disabled="imported(item)" v-if="checkTogProduct(item)" type="button" class="btn btn-md btn-outline-light-blue router select-option" @click.prevent="goToPage('TogReturnsExchanges', item)">Select An Option</button>
              <button :disabled="imported(item)" v-else type="button" class="btn btn-md btn-outline-light-blue router select-option" @click.prevent="goToPage('StandardReturnsExchanges', item)">Select An Option</button>
            </div>
          </div>
        </div>
        <div class="gap"></div>
        <button v-if="existReturnSelected()" class="btn btn-md btn-light-blue btn-complete mt-20" @click.prevent="completeSelected()">complete returns & exchanges</button>
      </div>
    </div>
  </div>
</template>
<script>
import Loader from '../components/Loader.vue'
import Common from '../components/Common.vue'

import { store } from '../store'

export default {
  name: 'ReturnsExchanges',
  extends: Common,
  components: {
    Loader,
  },
  data() {
    return {
      order: {},
      id: this.$route.params.order_id,
      loading: true
    }
  },
  created() {
    this.loadOrder()
  },
  mounted() {
  },
  methods: {
    loadOrder () {
      this.$store.dispatch('loadOrder', this.$route.params.order_id).then(() => {
        this.order = this.$store.state.order
        this.loading = false
      }).catch(err => {
        console.log(err)
        this.loading = false
      })
    }
  }
}
</script>
<style lang="scss">

</style>


