<template>
  <div>
    <Loader v-if="loading" />
    <div v-else class="standard-returns-exchanges" v-show="!isEmpty(product)">
      <div class="top-menu">
        <p class="x-small">
          <a @click.prevent="goToPage('ReturnsExchanges')" class="router color-light-blue"><i class="fa fa-angle-left"></i>Back To Returns & Exchanges</a>
        </p>
      </div>
      <div class="header__" v-bind:class="{authorization: (step>=5)}">
        <div class="title w-100">
          <!-- Step -->
          <p class="x-small" v-show="((step < 7) && (type == 'exchange') || (step < 4) && (type == 'refund'))">Step {{ step }} </p>
          <!-- <p class="large step">{{ stepText }}</p> -->
          <h2>{{ stepText }}</h2>
          <Confirmation :normal_type="normal_type" :type="type" :step="step" :method="method" />
          <div class="product-container" v-show="(((step <= 4) && (type == 'exchange'))||((step < 4) &&(type == 'refund')))">
            <div class="product__image bg-light-gray position-relative">
              <!-- <img :src="product.extra.image" class="product__thumbnail__image" /> -->
              <img :src="product.extra.image" />
            </div>
            <div class="info">
              <p class="name x-small">{{ product.title }}</p>
              <p class="smaller">Color: {{ product.extra.color ? product.extra.color : 'No color' }}</p>
              <p class="smaller">Size: {{ product.extra.size ? product.extra.size : 'No size' }}</p>
              <p class="smaller">Quantity: {{ product.quantity}}</p>
              <p class="md font-weight-600 product__price">${{ product.price }}</p>
            </div>
            <p class="product__price medium font-weight-600 d-none">${{ product.price }}</p>
          </div>
          <div class="payment-authorization-description mt-30" v-show="(step == 6) && (type == 'exchange')">
            <p class="small">
              Our expedited exchanges are sent out right away. This card will be charged if we don’t receive your items back to the warehouse within 30 days. You’ll see a $1 pre-authorize charge on your card that will disappear in 48 hours.
            </p>
          </div>
        </div>
      </div>
      <div class="gap"></div>
      <!-- Standard Step 1 -->
      <div class="items" v-show="step === 1">
        <div class="options">
          <div class="option">
            <label class="checkcontainer">
              <p class="small">Exchange</p>
              <p class="smaller font-weight-italic">Choose a different size and/or color and we'll send it right away.</p>
              <input type="radio" v-model="type" value="exchange">
              <span class="radiobtn"></span>
            </label>
          </div>
          <div class="option">
            <label class="checkcontainer">
              <p class="small">Return and refund</p>
              <p class="smaller font-weight-italic">Choose either a gift code (to use like store credit) or a refund back to your original form of payment.</p>
              <input type="radio" v-model="type" value="refund">
              <span class="radiobtn"></span>
            </label>
          </div>
        </div>
        <div class="gap"></div>
        <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="next()">
          <span>{{ continueButtonText }}</span>
        </button>
      </div>
      <!-- Standard Exchange Step 2 -->
      <div class="items" v-show="(step === 2) && (type == 'exchange')">
        <div class="variant">
          <div class="style-selection-container">
            <p class="xx-small">Size</p>
            <div class="p-relative">
              <span class="inner-selector">
                <select name="size" class="form-control" v-model="size"  @change="selectSize()">
                  <option v-for="(size, index) in sizes" :key="index" :value="size" :disabled="outOfStock('size', size)">
                    {{ size }}
                  </option>
                </select>
              </span>
            </div>
          </div>
          <div class="color-selection-container">
            <div class="selection-container">
              <p class="xx-small">Color</p>
              <div class="product__image bg-light-gray">
                <VueLoadImage>
                  <!-- <img slot="image" :src="selected_image ? selected_image : no_image" class="product__thumbnail__image" /> -->
                  <img slot="image" :src="selected_image ? selected_image : no_image" />
                  <img slot="preloader" :src="loader_image" />
                  <img slot="error" :src="no_image" />
                </VueLoadImage>
              </div>
            </div>
            <div class="product-color-selection">
              <p class="smaller color-name-container mb-10">{{this.color}}</p>
              <div v-if="colors" class="available-colors">
                <a v-for="(avColor, index) in colors" :key="index" :class="['color-option', { selected: color == avColor, 'out-of-stock': outOfStock('color', avColor) }]" :data-name="avColor" @click="selectColor(avColor)">
                  <div class="color-swatch" :style="(avColor in color_styles) ? color_styles[avColor] : {}"></div>
                </a>
              </div>
            </div>
            </div>
          </div>
          <div class="gap"></div>
          <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="next()">Continue</button>
      </div>
      <!-- Standard Exchange Step 3 -->
      <div class="items" v-show="(step === 3) && (type == 'exchange')">
          <Reason v-if="reasons.length>0" :reasons="reasons" v-on:reasonChanged="onReasonChanged" />
          <div class="divider-gray"></div>
          <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="next()">Continue</button>
      </div>
      <!-- Standard Exchange Step 4 -->
      <div class="items" v-show="(step === 4) && (type == 'exchange')">
          <div class="return-method">
              <p class="small">How will you return this item?</p>
          </div>
          <div class="divider-gray"></div>
          <Container v-if="containers.length>0" :containers="containers" v-on:containerChanged="onContainerChanged" />
          <div class="gap"></div>
          <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="next()">Continue With Exchange</button>
      </div>
      <!-- Standard Exchange Step 5 -->
      <div class="items" v-show="(step == 5) && (type == 'exchange')">
          <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="next()">I accept the terms & conditions</button>
      </div>
      <!-- Standard Exchange Step 6 -->
      <div class="items" v-show="(step == 6) && (type == 'exchange')">
          <p class="small pt-30 pb-10">Card Information</p>
          <div class="divider-gray"></div>
          <div class="card-information__container">
              <div class="card-error my-10">
                  <span class="xx-small help is-danger" v-show="cardNumberError">
                      {{ cardNumberError }}
                  </span>
                  <span class="xx-small help is-danger" v-show="cardExpirationDateError">
                      {{ cardExpirationDateError }}
                  </span>
                  <span class="xx-small help is-danger" v-show="cardCvcError">
                      {{ cardCvcError }}
                  </span>
                  <span class="xx-small help is-danger" v-if="cardCheckError">
                      {{ cardCheckErrorMessage }}
                  </span>
                  <!-- <span class="xx-small help is-danger" v-if="requiredError">
                      {{ requiredError }}
                  </span>  -->
              </div>
              <div class="card-information">
                  <div class="card-number d-inline-block">
                      <p class="xx-small">Card Number</p>
                      <input class="form-control small mt-10" type="text" placeholder="4242 4242 4242 4242" v-mask="'#### #### #### ####'" v-model="card.number" :class="{ error: cardNumberError }" />
                  </div>
                  <div class="card-security">
                      <div class="expiration-date d-inline-block">
                          <p class="xx-small">Expiration date</p>
                          <div class="p-relative">
                            <datepicker :format="card.expiration_format"
                                        :minimumView="'month'"
                                        :maximumView="'month'"
                                        class="inner-selector"
                                        :class="{ error: cardExpirationDateError }"
                                        :clearButtonIcon="'fa fa-times'"
                                        :clearButton="false"
                                        :calendarButtonIcon="'fa fa-calendar'"
                                        :calendarButton="false"
                                        v-model="card.expiration" >
                            </datepicker>
                          </div>
                      </div>
                      <div class="cvv d-inline-block">
                          <p class="xx-small">Cvc</p>
                          <input type="text" class="form-control small mt-10" v-model="card.cvc" :class="{ error: cardCvcError }">
                      </div>
                  </div>
              </div>
          </div>
          <p class="small pt-20 pb-10">Billing Information</p>
          <div class="divider-gray"></div>
          <div class="billing-information pt-10">
              <div class="name-fields font-size-0">
                  <div class="first-name d-inline-block">
                      <p class="xx-small">First Name</p>
                      <input type="text" class="form-control small mt-10 required" v-model="customer.first_name" :class="{ error: this.requiredError.first_name }">
                  </div>
                  <div class="last-name d-inline-block">
                      <p class="xx-small">Last Name</p>
                      <input type="text" class="form-control small mt-10 required" v-model="customer.last_name" :class="{ error: this.requiredError.last_name }">
                  </div>
              </div>
              <div class="address-fields mt-20 font-size-0">
                  <div class="address-1 d-inline-block">
                      <p class="xx-small">Address Line 1</p>
                      <input type="text" class="form-control small mt-10" v-model="customer.address1" :class="{ error: this.requiredError.address1 }">
                  </div>
                  <div class="address-2 d-inline-block">
                      <p class="xx-small">Address Line 2</p>
                      <input type="text" class="form-control small mt-10" v-model="customer.address2">
                  </div>
              </div>
              <div class="extra-fields mt-20 font-size-0">
                  <div class="city d-inline-block">
                      <p class="xx-small">City</p>
                      <input type="text" class="form-control small mt-10" v-model="customer.city" :class="{ error: this.requiredError.city }">
                  </div>
                  <div class="zipcode d-inline-block">
                      <p class="xx-small">Zip Code</p>
                      <input type="text" class="form-control small mt-10" v-model="customer.zip_code" :class="{ error: this.requiredError.zip_code }">
                  </div>
                  <div class="state d-inline-block">
                      <p class="xx-small">State</p>
                      <div class="p-relative">
                        <span class="inner-selector">
                          <region-select
                            class="form-control"
                            v-model="customer.state"
                            :country="customer.country"
                            :region="customer.state"
                            :countryName="false"
                            :regionName="true"
                            :class="{'error': requiredError.state}"
                          />
                        </span>
                      </div>
                  </div>
                  <div class="country d-inline-block">
                      <p class="xx-small">Country</p>
                      <div class="p-relative">
                        <span class="inner-selector">
                          <country-select
                            id="country"
                            class="form-control"
                            v-model="customer.country"
                            :country="customer.country"
                            :countryName="false"
                            topCountry="US"
                            :class="{'error': requiredError.country}"
                          />
                        </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="divider-gray"></div>
          <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="complete()" :disabled="cardCheckSending">Complete This Exchange</button>
      </div>
      <!-- Standard Return/Refund Step 2 -->
      <div class="items" v-show="(step === 2) && (type == 'refund')">
          <Reason v-if="reasons.length>0" :reasons="reasons" v-on:reasonChanged="onReasonChanged" />
          <div class="divider-gray"></div>
          <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="next()">Continue</button>
      </div>
      <!-- Standard Return/Refund Step 3 -->
      <div class="items" v-show="(step === 3) && (type == 'refund')">
          <PaymentMethod  v-if="methods.length>0" :methods=methods v-on:methodChanged="onMethodChanged" />
          <div class="return-method">
              <p class="small">What container will you return your item in?</p>
          </div>
          <div class="divider-gray"></div>
          <Container v-if="containers.length>0" :containers="containers" v-on:containerChanged="onContainerChanged" />
          <div class="gap"></div>
          <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="complete()">Complete with Refund</button>
      </div>
    </div>
  </div>
</template>
<script>
import VueLoadImage from 'vue-load-image'
import Loader from '../components/Loader.vue'
import Reason from '../components/Reason.vue'
import PaymentMethod from '../components/PaymentMethod.vue'
import Container from '../components/Container.vue'
import Confirmation from '../components/Confirmation.vue'
import Common from '../components/Common.vue'
import 'vue-country-region-select'
import Datepicker from 'vuejs-datepicker';
import config from '../config.json'
import { store } from '../store'

export default {
  name: 'StandardReturnsExchanges',
  extends: Common,
  components: {
    Reason,
    PaymentMethod,
    Container,
    Confirmation,
    Datepicker,
    Loader,
    VueLoadImage
  },
  // props: {
  //     product: {},
  //     order: {}
  // },
  data() {
    return {
      product: {},
      order: {},
      loading: true,
      loader_image: `${[config.API_HOST, config.LOADER_IMAGE].join('/')}`,
      no_image: `${[config.API_HOST, config.NO_IMAGE].join('/')}`,
      step: 1,
      normal_type: 'STANDARD',
      type: 'refund',
      sizes: [],
      colors: [],
      colors_on_size: [],
      sizes_on_color: [],
      color_styles: {},
      size: null,
      color: null,
      images: {},

      selected_image: null,
      reasons: [],
      methods: [],
      containers: [],
      reason: null,
      method: null,
      container: null,

      // stripe
      // stripe: null,
      // stripeElements: {},
      // elements: null,

      stripeToken: null,
      stripeKey: 'pk_test_xfdZJlLA2hG4nqCtjCNwvRKI00Bd7blsMR',

  /*** card information ***/
      card: {
        // number test: '4242424242424242',
        number: '',
        // cvc test: '123',
        cvc: '',
        expiration: '',
        expiration_format: 'MM/yyyy',
      },
      // customer info
      customer: {
        first_name: '',
        last_name: '',
        address1: '',
        address2: '',
        city: '',
        state: '',
        zip_code: '',
        country: ''
      },

      // validation
      cardNumberError: null,
      cardCvcError: null,
      cardExpirationDateError: null,
      cardCheckSending: false,
      cardCheckError: false,
      cardCheckErrorMessage: '',
      requiredError: {
        first_name: null,
        last_name: null,
        address1: null,
        address2: null,
        city: null,
        state: null,
        zip_code: null,
        country: null
      }
    }
  },
  computed: {
    stripeCard () {
      return {
        // name: this.name,
        number: this.card.number,
        cvc: this.card.cvc,
        exp_year: this.card.expiration.getFullYear().toString().substr(-2),
        exp_month: ("0" + (this.card.expiration.getMonth() + 1)).slice(-2),
        // address_zip: this.postalCode,
      };
    },
    productPrice () {
      return parseFloat(this.product.price)
    }
  },
  created () {
    this.loadData()
  },
  mounted () {
  },
  methods: {
    loadData () {
      this.$store.dispatch('loadOrder', this.$route.params.order_id).then(() => {
        this.order = this.$store.state.order
        this.product = this.order.line_items.find(line_item => line_item.id === +this.$route.params.line_item_id)
        console.log(this.product)
        this.init()
      }).catch(err => {
        console.log(err)
      }).then(() => {
        this.loading = false
      })
    },
    init () {
      let extra = this.product.extra
      this.sizes = extra.options ? extra.options[1].values : null
      this.colors = extra.options ? extra.options[0].values : null
      this.size = extra.size ? extra.size : null
      this.color = extra.color ? extra.color : null
      this.selected_image = extra.image ? extra.image : null

      // update size and color list(enable, disable)
      this.product.extra.variants.forEach((variant) => {
        // if( this.productPrice != parseFloat(variant.price) )
        //     return
        if ((variant.option1 == this.color) && (!this.sizes_on_color.includes(variant.option2)))
          this.sizes_on_color.push(variant.option2)
        if ((variant.option2 == this.size) && (!this.colors_on_size.includes(variant.option1)))
          this.colors_on_size.push(variant.option1)
        if ((variant.image_id) && (typeof this.images[variant.option1] == 'undefined')) {
          this.product.extra.images.forEach((img) => {
            if( img.id == variant.image_id ) {
              this.images[variant.option1] = img.src
            }
          })
        }
      })
      this.getReturnReasons()
      this.getReturnMethods(this.normal_type, this.type)
      this.getReturnContainers()
    }
  }
}
</script>
<style lang="scss">

</style>



