<template>
  <div>
    <Loader v-if="loading" />
    <div v-else class="tog-returns-exchanges" v-show="!isEmpty(product)">
      <div class="top-menu">
        <p class="x-small">
          <a @click.prevent="goToPage('ReturnsExchanges')" class="router color-light-blue"><i class="fa fa-angle-left"></i>Back To Returns & Exchanges</a>
        </p>
      </div>
      <div class="header__">
        <div class="title w-100">
          <!-- Step -->
          <p class="x-small" v-show="step < 4">Step {{ step }} </p>
          <!-- <p class="large step">{{ stepText }}</p> -->
          <h2>{{ stepText }}</h2>
          <Confirmation :normal_type="normal_type" :type="type" :step="step" :method="method" />
          <div class="product-container" v-show="step < 4">
            <div class="product__image bg-light-gray position-relative">
              <i class="fa fa-star color-light-blue position-absolute"></i>
              <!-- <img :src="product.extra.image" class="product__thumbnail__image" /> -->
              <img :src="product.extra.image" />
            </div>
            <div class="info">
              <p class="name x-small">{{ product.title }}</p>
              <p class="smaller">Color: {{ product.extra.color }}</p>
              <p class="smaller">Size: {{ product.extra.size }}</p>
              <p class="smaller">Quantity: {{ product.quantity}}</p>
              <p class="md font-weight-600 product__price">${{ product.price }}</p>
            </div>
            <p class="product__price medium font-weight-600 d-none">${{ product.price }}</p>
          </div>
        </div>
        <div class="tog bg-lightest-gray text-center position-relative" v-show="step < 4">
          <p class="x-small color-light-blue name"><i class="fa fa-star" aria-hidden="true"></i><span>TRY ON GUARANTEE</span><i class="fa fa-star" aria-hidden="true"></i></p>
          <p class="x-smaller description font-weight-italic position-absolute">
            <span>First pair didn’t work? Try out another pair in a</span>
            <span>different size or style that works better for you, on us,</span>
            <span>or opt for a refund.</span>
          </p>
        </div>
      </div>
      <div class="gap"></div>
      <!-- Tog Step 1 -->
      <div class="items" v-show="step === 1">
        <div class="options">
          <div v-if="product.extra.tog_info.exchange_available" class="option">
            <label class="checkcontainer">
              <p class="small">Replacement</p>
              <p class="smaller font-weight-italic">Choose a different pair and we'll send it right away. No return necessary.</p>
              <input type="radio" v-model="type" value="exchange">
              <span class="radiobtn"></span>
            </label>
          </div>
          <div v-if="product.extra.tog_info.refund_available" class="option">
            <label class="checkcontainer">
              <p class="small">Refund</p>
              <p class="smaller font-weight-italic">Choose either a gift card code (to use like store credit) or a refund back to your original form of payment. No return necessary.</p>
              <input type="radio" v-model="type" value="refund">
              <span class="radiobtn"></span>
            </label>
          </div>
        </div>
        <div class="gap"></div>
        <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="next()">
          <span>{{ continueButtonText }}</span>
        </button>
      </div>
      <!-- Tog Exchange Step 2 -->
      <div class="items" v-show="(step === 2) && (type == 'exchange')">
        <div class="variant">
          <div class="style-selection-container">
            <p class="xx-small">Style</p>
            <div class="product-styles">
              <button v-for="(avStyle, index) in styles" :key="index" :class='["btn btn-md btn-outline-light-blue", {"mb-10": styles.length >= 3, "selected": avStyle == style}]' @click="selectStyle(avStyle)">{{ avStyle | style }}</button>
            </div>
            <p class="xx-small mt-30">Size</p>
            <div class="p-relative">
              <span class="inner-selector">
                <select name="size" class="form-control" v-model="size" @change="selectSize()">
                  <option v-for="(size, index) in sizes" :key="index" :value="size" :disabled="outOfStock('size', size)">
                    {{ size }}
                  </option>
                </select>
              </span>
            </div>
          </div>
          <div class="color-selection-container">
            <div class="selection-container">
              <p class="xx-small">Color</p>
              <div class="product__image">
                <VueLoadImage>
                    <!-- <img slot="image" :src="selected_image ? selected_image : no_image" class="product__thumbnail__image" /> -->
                  <img slot="image" :src="selected_image ? selected_image : no_image" />
                  <img slot="preloader" :src="loader_image" />
                  <img slot="error" :src="no_image" />
                </VueLoadImage>
              </div>
            </div>
            <div class="product-color-selection">
              <p class="smaller color-name-container mb-10">{{this.color}}</p>
              <div v-if="colors" class="available-colors">
                <a v-for="(avColor, index) in colors" :key="index" :class="['color-option', { selected: color == avColor, 'out-of-stock': outOfStock('color', avColor) }]" :data-name="avColor" @click="selectColor(avColor)">
                  <div class="color-swatch" :style="(avColor in color_styles) ? color_styles[avColor] : {}"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="gap"></div>
        <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="next()">Continue</button>
      </div>
      <!-- Tog Exchange Step 3 -->
      <div class="items" v-show="(step === 3) && (type == 'exchange')">
        <Reason v-if="reasons.length>0" :reasons="reasons" v-on:reasonChanged="onReasonChanged" />
        <div class="divider-gray"></div>
        <div class="send-back">
          <p class="small">How do I send this back?</p>
        </div>
        <div class="divider-gray"></div>
        <div class="send-back-description">
          <p class="smaller">Since this is your first purchase of this type of product, this item is Try On Guarantee<br> eligible. That means you get to keep it, on us! No need to send it back to us.</p>
        </div>
        <div class="divider-gray"></div>
        <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="complete()">Complete This Exchange</button>
      </div>
      <!-- Tog Refund Step 2 -->
      <div class="items" v-show="(step === 2) && (type == 'refund')">
        <Reason v-if="reasons.length>0" :reasons="reasons" v-on:reasonChanged="onReasonChanged" />
        <div class="divider-gray"></div>
        <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="next()">Continue</button>
      </div>
      <!-- Tog Refund Step 3 -->
      <div class="items" v-show="(step === 3) && (type == 'refund')">
        <PaymentMethod  v-if="methods.length>0" :methods=methods v-on:methodChanged="onMethodChanged" />
        <div class="divider-gray"></div>
        <button class="btn btn-md btn-light-blue btn-continue" @click.prevent="complete()">Submit request</button>
      </div>
    </div>
  </div>
</template>
<script>
import VueLoadImage from 'vue-load-image'
import Loader from '../components/Loader.vue'
import Reason from '../components/Reason.vue'
import PaymentMethod from '../components/PaymentMethod.vue'
import Common from '../components/Common.vue'
import Confirmation from '../components/Confirmation.vue'
import config from '../config.json'
import { store } from '../store'

export default {
  name: 'TogReturnsExchanges',
  extends: Common,
  components: {
    Reason,
    PaymentMethod,
    Confirmation,
    Loader,
    VueLoadImage
  },
  data() {
    return {
      product: {},
      order: {},
      loading: true,
      loader_image: `${[config.API_HOST, config.LOADER_IMAGE].join('/')}`,
      no_image: `${[config.API_HOST, config.NO_IMAGE].join('/')}`,
      step: 1,
      normal_type: 'TOG',
      type: 'refund',
      styles: [],
      sizes: [],
      colors: [],
      colors_on_size: [],
      sizes_on_color: [],
      color_styles: {},
      style: null,
      size: null,
      color: null,
      images: {},

      // FlowLink integration
      sku: null,
      order_number: null,

      selected_image: null,
      reasons: [],
      methods: [],
      reason: null,
      method: null,
    }
  },
  created() {
    this.loadData()
  },
  mounted() {
  },
  methods: {
    loadData () {
      this.$store.dispatch('loadOrder', this.$route.params.order_id).then(() => {
        this.order = this.$store.state.order
        this.product = this.order.line_items.find(line_item => line_item.id === +this.$route.params.line_item_id)
        this.init()
      }).catch(err => {
        console.log(err)
      }).then(() => {
        this.loading = false
      })
    },
    init() {
      let tog_info = this.product.extra.tog_info
      let styles = Object.keys(tog_info.sizes)
      let style = styles ? styles[0] : null
      this.styles = styles
      this.selectStyle(style)
      this.selected_image = (this.color in this.images) ? this.images[this.color] : null
      this.getReturnReasons()
      this.getReturnMethods(this.normal_type, this.type)
    }
  }
}
</script>
<style lang="scss">

</style>



