<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function() {
      ShopifyApp.Bar.initialize({
        title: "Orders"
      });
    })
  </script>
<% end %>

<%= content_tag :div do %>
<% end %>