<template>
    <div class="returns-app-container">
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'App'
}
</script>
<style lang='scss'>
    @import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
    @import url(https://mack-weldon-returns.herokuapp.com/returns/assets/style.css);
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,700i&display=swap);
    @import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap);
    .returns-app-container {
      .p-relative {
        position: relative;
        margin-top: 10px;
        .inner-selector {
          input, select {
            margin-top: 0!important;
          }
          &::before {
            position: absolute;
            right: 15px;
            bottom: 18px;
            content: '';
            width: 8px;
            height: 8px;
            display: inline-block;
            vertical-align: middle;
            border-width: 0 0 2px 2px;
            border-style: solid;
            border-color: #B0B2BC;
            margin: 0 0 0 0;
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
            transition: all 0.4s;
          }
        }
      }
    }
</style>

