.card-carousel-wrapper {
    margin-top: 25px;
    display: flex;
    line-height: 1;
    
    .card-carousel {
        width: 640px;
        
        &--overflow-container {
            overflow: hidden;
        }
        
        &--nav__left,
        &--nav__right {
            display: inline-block;
            overflow: hidden;
            width: 28px;
            height: 28px;
            vertical-align: middle;
            box-sizing: border-box;
            margin-top: 86px;
            padding: 5px 6px;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
            border: 1px solid #818181;

            i {
                font-size: 16px;
                color: #555555;
            }

            &[disabled] {
                border: 1px solid #C1C1C1;
                i {
                    color: #C1C1C1;
                }
            }
        }

        &--nav__left {
            margin-right: 20px;
        }

        &--nav__right {
            margin-left: 20px;
        }
    }

    .card-carousel-cards {
        display: flex;
        transition: transform 150ms ease-out;
        transform: translatex(0px);
        margin: 0 0 65px;
        
        .card-carousel--card {
            margin: 0 10px;
            cursor: pointer;
            border-radius: 4px;
            z-index: 3;
            margin-bottom: 2px;

            &:first-child {
                margin-left: 0;
            }
            
            &:last-child {
                margin-right: 0;
            }
            
            .image {
                width: 200px;
                text-align: center;
                // padding: 15px 10px;
                padding: 10px 10px;
                // height: 260px;
                background: #F7F7F7;
                box-sizing: border-box;

                img {
                    vertical-align: bottom;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    transition: opacity 150ms linear;
                    user-select: none;
                    width: 100%;
                    // height: 100%;
                    height: 180px;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            p.name {
                margin: 15px 0;
            }
        }
    }

    @media #{$mobile} {
        .card-carousel {
            &--nav__right {
                position: absolute;
                right: 5px;
                margin-top: 56px;
            }
        }

        .card-carousel-cards {
            .card-carousel--card {
                flex: 1;

                .image {
                    width: unset;

                    img {
                        height: 120px;
                    }
                }
            }
        }
    }
}