.returns-app-container {
    button:not(:disabled) {
        cursor: pointer;
    }
    .btn {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-style: normal;
        text-transform: uppercase;
        color: $white;
        white-space: nowrap;

        &:disabled {
            color: #C1C1C1;
            border: 1px solid #C1C1C1;
        }
    }
    .btn-block {
        display: block;
        width: 100%;
    }
    .btn-light-blue {
        color: #fff;
        background: $light-blue;
        border: 1px solid $light-blue;
        box-sizing: border-box;
    }
    .btn-dark {
        color: #fff;
        background: $gray;
        border: 1px solid $gray;
        box-sizing: border-box;
    }
    .btn-outline-light-blue {
        color: $light-blue;
        border-color: $light-blue;
        &:hover:enabled {
            color: $white;
            background-color: $light-blue;
        }
    }
    .btn-md {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.18px;
        height: 40px;
        // padding: 5px 20px;
        padding: 5px 15px;

        @media #{$mobile} {
            font-weight: 600;
            font-size: 10px;
            line-height: 13px;
            letter-spacing: 0.16px;
            padding: 0;
            min-width: auto;
        }
    }
    .btn-lg {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.23px;
        height: 50px;
        padding: 10px 40px;

        @media #{$mobile} {
            font-size: 10px;
            line-height: 13px;
            letter-spacing: 0.16px;
            padding: 0;
        }
    }

    .form-control {
        display: block;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        box-sizing: border-box;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: 40px;
        padding-left: 10px;
    }
    select.form-control {
        font-family: $font-family-sans-serif-secondary;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: $davy-gray;
        padding: 5px 15px;
        border-radius: 0;
        appearance: none;

        @media #{$mobile} {
            // padding: 20px 25px;
            font-size: 10px;
            line-height: 13px;
            letter-spacing: 0.16px;
        }
    }

    /*===================
    Radio button
    ===================*/
    label.checkcontainer {
        display: block;
        position: relative;
        padding-left: 40px;
        cursor: pointer;
        font-size: 17px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            &:checked ~ .radiobtn {
                border: 1px solid $light-blue;
                background-color: $white;
                &:after {
                    display: block;
                }
            }
        }
        .radiobtn:after {
            top: 1px;
            left: 1px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $light-blue;
        }
    }
    .radiobtn {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid $gray;
        background-color: $white;
        border-radius: 50%;
        box-sizing: border-box;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    /*===================
    Router button
    ===================*/
    .router {
        cursor: pointer;
        text-decoration: none;
        &.btn {
            display: table;
            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    p.xx-small, span.xx-small {
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.002em;
        text-transform: uppercase;
    }

    p.x-small, span.x-small {
        font-weight: 600 !important;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.18px;
        text-transform: uppercase;

        @media #{$mobile} {
            font-size: 10px;
            line-height: 13px;
            letter-spacing: 0.002em;
        }
    }
    p.smaller, span.smaller {
        font-family: "Lato", sans-serif !important;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.3px;
        color: $gray;
    }
    p.x-smaller, span.x-smaller {
        font-family: "Lato", sans-serif !important;
        font-size: 12px;
        line-height: 18px;
    }

    p.small, span.small {
        font-size: 15px;
        line-height: 24px;

        @media #{$mobile} {
            font-size: 14px;
        }
    }
    p.medium, span.medium {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.35px;

        @media #{$mobile} {
            font-size: 15px;
            line-height: 24px;
        }
    }
    p.large, span.large {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.01em;
    }

    .product__thumbnail__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        border: 0;
    }
}