.pagination-wrapper {
    display: flex;
    justify-content: center;
    line-height: 1;

    .paginations {
        width: 260px;
        display: flex;
        justify-content: center;
        align-items: center;

        &--nav__prev,
        &--nav__next {
            display: inline-block;
            overflow: hidden;
            width: 28px;
            height: 28px;
            vertical-align: middle;
            box-sizing: border-box;
            padding: 5px 6px;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
            border: 1px solid #818181;

            @media #{$mobile} {
                position: absolute;
                transform: translateY(-6px);
            }

            i {
                font-size: 16px;
                color: #555555;
            }

            &[disabled] {
                border: 1px solid #C1C1C1;
                i {
                    color: #C1C1C1;
                }
            }
        }

        &--nav__prev {
            margin-right: 60px;

            @media #{$mobile} {
                left: 10px;
            }
        }

        &--nav__next {
            margin-left: 60px;

            @media #{$mobile} {
                right: 10px;
            }
        }

        p.page {
            cursor: pointer;
            &.active {
                color: #0AAAE6;
            }
        }
    }
}