.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}

.w-max-content {
    width: max-content !important;
}

.mt-30, .my-30 {
    margin-top: 30px !important;
}
.mb-30, .my-30 {
    margin-bottom: 30px !important;
}
.mt-20, .my-20 {
    margin-top: 20px !important;
}
.mb-20, .my-20 {
    margin-bottom: 20px !important;
}
.ml-20, .mx-20 {
    margin-left: 20px !important;
}
.mt-10, .my-10 {
    margin-top: 10px !important;
}
.mb-10, .my-10 {
    margin-bottom: 10px !important;
}
.mt-0, .my-0, .m-0 {
    margin-top: 0 !important;
}
.m-auto {
    margin: auto !important;
}

/*===================
  Width/Height Classes
 ===================*/
.pt-30, .py-30 {
    padding-top: 30px !important;
}
.pb-30, .py-30 {
    padding-top: 30px !important;
}
.pt-20, .py-20 {
    padding-top: 20px !important;
}
.pb-20, .py-20 {
    padding-top: 20px !important;
}
.pt-10, .py-10 {
    padding-top: 10px !important;
}
.pb-10, .py-10 {
    padding-top: 10px !important;
}
.pl-20, .px-20 {
    padding-left: 20px !important;
}
.pr-20, .px-20 {
    padding-right: 20px !important;
}
.p-20 {
    padding: 20px !important;
}
.p-0 {
    padding: 0 !important;
}

.d-flex {
    display: flex;
}

/*======================
  Color
 =====================*/
.color-orange {
    // color: $orange;
    color: #F49342;
}