.returns-app-container {
    * {
        box-sizing: border-box;
    }
    
    p {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-family: $font-family-sans-serif-secondary;
        color: #555555;
    }

    strong {
        font-weight: 600 !important;
    }

    h2 {
        font-family: $font-family-sans-serif-secondary;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        /* or 133% */
        letter-spacing: -0.01em;

        /* Mobile */
        @media #{$mobile} {
            font-size: 24px;
            line-height: 30px;
            /* or 125% */
            letter-spacing: -1px;
        }
    }

    a {
        text-decoration: none !important;
    }
}