$light-blue: #0AAAE6;
$olive: #C7900D;
$light-green: #219653;
// $lightest-gray: #F2F2F2;
$gray95: #F2F2F2;
// $light-gray: #F7F7F7;
$gray97: #F7F7F7;
$white: #fff;
$whisper: #EAEAEA;
$silver: #C1C1C1;
$gray: #818181;
$davy-gray: #555555;

/* Tablet Portrait */
$responsive-sm: 1023px;
$tablet-portrait: "(max-width: #{$responsive-sm})";

/* Mobile */
$responsive-xs: 767px;
$mobile: "(max-width: #{$responsive-xs})";

/* Font */
$font-family-sans-serif: "Lato", sans-serif;
$font-family-sans-serif-secondary: "Montserrat", sans-serif;


