<template>
    <div class="card-carousel-wrapper">
        <div v-if="availableNav" class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList"><i class="fa fa-arrow-left"></i></div>
        <div class="card-carousel">
            <div class="card-carousel--overflow-container">
                <div class="card-carousel-cards" :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}">
                    <!-- <div class="card-carousel-cards" :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}"> -->
                    <div class="card-carousel--card" v-for="(item, index) in this.items" :key="index">
                        <div class="image">
                            <img :src="item.extra.image ? item.extra.image : no_image" sizes="250px" />
                        </div>
                        <p class="name x-small">{{ item.title }}</p>
                        <p class="smaller">Color: {{ item.extra.color ? item.extra.color : 'No color' }}</p>
                        <p class="smaller">Size: {{ item.extra.size ? item.extra.size : 'No size' }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="availableNav" class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList"><i class="fa fa-arrow-right"></i></div>
         <!-- <div v-if="availableNav" class="card-carousel--nav__right" @click="moveCarousel(1)"><i class="fa fa-arrow-right"></i></div> -->
  </div>
</template>
<script>
import { isMobile } from 'mobile-device-detect';
import config from '../config.json'

export default {
    name: 'Carousel',
    props: {
        items: Array
    },
    data() {
        return {
            no_image: `${[config.API_HOST, config.NO_IMAGE].join('/')}`,
            currentOffset: 0,
            windowSize: isMobile ? 2 : 3,
            paginationFactor: 220,
            currentPoistion: 0,
            // showItems: [],
        }
    },
    computed: {
        atEndOfList() {
            return this.currentOffset <= (this.paginationFactor * -1) * (this.items.length - this.windowSize)
        },
        atHeadOfList() {
            return this.currentOffset === 0
        },
        availableNav() {
            return this.items.length > this.windowSize
        },
        // showAvailableItems() {
        //     if( this.items.length <= this.windowSize )
        //         return this.items.slice( 0, this.items.length )
        //     return this.items.slice(this.currentPoistion, this.currentPoistion + this.windowSize).concat(this.items.slice(0, Math.max(this.currentPoistion + this.windowSize - this.items.length, 0)))
        // }
    },
    created() {
        // this.showItems = this.items.slice(0, this.items.length > this.windowSize ? this.windowSize : this.items.length);
    },
    methods: {
        moveCarousel(direction) {
            // Find a more elegant way to express the :style. consider using props to make it truly generic
            if (direction === 1 && !this.atEndOfList) {
                this.currentOffset -= this.paginationFactor
            } else if (direction === -1 && !this.atHeadOfList) {
                this.currentOffset += this.paginationFactor
            }
        },
        // moveCarousel(direction) {
        //     if ( direction == 1 ) {
        //         this.currentPoistion = (this.currentPoistion + this.windowSize) % this.items.length;
        //     }
        // }
    }
}
</script>
<style lang="scss" scoped>

</style>
