<template>
    <div class="confirmation">
        <div v-if="(normal_type == 'STANDARD') && (type == 'exchange') && (step == 5)">
            <p class="small">
                Our exchanges are expedited, so we’ll send your new item(s) out right away. You’ll be asked to select a saved credit card or enter a new one as a part of the expedited exchange process. If we don’t receive the item(s) back to our warehouse within 30 days, we’ll charge your credit card for the full amount of that missing item.
            </p>
            <p class="small my-30">
                If you don’t want to use the expedited service we offer, we suggest buying the exchange you need now so it won’t sell out. Then, process a return for your original item(s) and you’ll be refunded once we receive it back to the warehouse. If you received a discount on the original order, email <a herf="mailto:hello@mackweldon.com">hello@mackweldon.com</a>.
            </p>
            <p class="medium mb-10"><strong>Terms & Conditions for Expedited Exchanges</strong></p>
            <p class="small">
                After processing your request for an expedited exchange, we'll verify your credit card information, which may pre-authorize a $1.00 charge on the credit card. This charge is only for security purposes and will typically disappear after 48 hours, though the exact timing varies by bank. By submitting an expedited exchange, you agree to return the item indicated in your request to Mack Weldon within 30 days of submitting the request, using the prepaid shipping label we provide. If your package hasn't been received by our fulfillment center after 30 days, we'll charge your credit card for the full amount of the missing item (New York and Massachusetts residents may be charged additional sales tax).
            </p>
        </div>
        <!-- Standard Exchange -->
        <div v-else-if="(normal_type == 'STANDARD') && (type == 'exchange') && (step == 7)">
            <p class="small">
                Your return request is processing. Look out for an email containing a prepaid shipping label.
            </p>
            <p class="small my-30">
                Once our warehouse receives your return, you'll receive a refund back to your original form of payment (along with a confirmation email) in 5~7 business days.
            </p>
        </div>
        <!-- Standard Refund + Store Credit -->
        <div v-else-if="(normal_type == 'STANDARD') && (type == 'refund') && (step == 4) && (method == 3)">
            <p class="small">
                Your exchange request is processing. Look out for an email containing a prepaid shipping label.
            </p>
            <p class="small my-30">
                Once our warehouse receives your original item, you'll receive an email containing a gift card code in 5~7 business days.
            </p>
        </div>
        <!-- Standard Refund + Original Payment -->
        <div v-else-if="(normal_type == 'STANDARD') && (type == 'refund') && (step == 4) && (method == 4)">
            <p class="small">
                Your return request is processing. You’ll receive an email once it is confirmed within 48 hours with a prepaid return shipping label.
            </p>
            <p class="small mt-30">
                Once we receive your return at the warehouse, you’ll be issued a refund in 5-7 business days. We’ll send you a return confirmation email when that happens.
            </p>
        </div>
        <!-- TOG Refund + Store Credit -->
        <div v-else-if="(normal_type == 'TOG') && (type == 'refund') && (step == 4) && (method == 1)">
            <p class="small">
                Your Try On Guarantee refund request is processing.
            </p>
            <p class="small mt-30">
                You'll receive an email once it's confirmed
            </p>
        </div>
        <!-- TOG Refund + Original Method -->
        <div v-else-if="(normal_type == 'TOG') && (type == 'refund') && (step == 4) && (method == 2)">
            <p class="small">
                Your Try On Guarantee refund request is processing.
            </p>
            <p class="small">
                You'll receive an email once it's confirmed.
            </p>
        </div>
        <!-- TOG Exchange -->
        <div v-else-if="(normal_type == 'TOG') && (type == 'exchange') && (step == 4)">
            <p class="small">
                Your Try On Guarantee replacement request is processing. You’ll receive an email once it is confirmed.
            </p>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Confirmation',
    props: {
        normal_type: {
            type: String,
        },
        type: String,
        step: Number,
        method: Number,
    },
    methods: {

    }

}
</script>

