<template>
    <div class="containers">
        <div class="option" v-for="(option, index) in containers" :key="index">
            <label class="checkcontainer">
                <p class="small">{{ option.label | capitalize }}</p>
                <input type="radio" v-model="container" :value="option.value" @change="containerChanged">
                <span class="radiobtn"></span>
            </label>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        containers: {}
    },
    data() {
        return {
            container: null
        }
    },
    created() {
        this.container = this.containers[0].value
    },
    methods: {
        containerChanged() {
            this.$emit('containerChanged', this.container)
        }
    }
}
</script>

