<template>
    <div class="loader">
        <img :src="page_loader_img">
    </div>
</template>
<script>
import config from '../config.json'

export default {
    name: 'Loader',
    data() {
        return {
            page_loader_img: `${[config.API_HOST, config.PAGE_LOADER_IMAGE].join('/')}`
        }
    },
}
</script>
<style lang="scss">
</style>

