<template>
    <div class="order-container">
        <div class="info">
            <div class="order-name">
                <p class="date x-small">{{ order.created_at | formatDate2 }}</p>
                <p class="number medium"><strong>Order: </strong>{{ order.name }}</p>
            </div>
            <div class="total-count">
                <p class="item-count x-small">{{ itemsCount }}</p>
                <p class="total medium"><strong>Total: </strong>${{ order.total_price }}</p>
            </div>
            <div class="delivery-status">
                <p class="x-small text-right">Delivery Status</p>
                <p class="medium text-right" v-if="!order.fulfillment_status"><span class="color-olive">Shipping Soon</span></p>
                <p class="medium text-right" v-else-if="order.fulfillment_status == 'parital'"><span class="color-light-green">Shipped - </span><a href="" class="color-light-blue">Track your order</a></p>
                <p class="medium text-right" v-else-if="order.fulfillment_status == 'fulfilled'">Delivered</p>
            </div>
        </div>
        <Carousel v-if="order.line_items.length>0" :items=order.line_items />
        <div class="actions ">
            <button type="button" class="btn btn-lg btn-light-blue router" @click.prevent="goToPage('OrderDetails')">View Order Details</button>
            <button type="button" class="btn btn-lg btn-dark" @click.prevent="goToPage('ReturnsExchanges')">Return Or Exchange</button>
        </div>
    </div>
</template>
<script>
import Common from '../components/Common.vue'
import Carousel from '../components/Carousel.vue'

export default {
    name: 'Order',
    extends: Common,
    components: {
        Carousel
    },
    props: {
        order: {},
    },
    methods: {
    }
}
</script>
<style lang="scss">
</style>

