<template>
    <div class="pagination-wrapper">
        <div v-if="availableNav" class="paginations--nav__prev" @click="movePage(-1)" :disabled="firstPage"><i class="fa fa-arrow-left"></i></div>
        <div class="paginations">
            <p v-for="(page, index) in pages" :key="index" class="page x-small mx-10" :class="{active: page==currentPage}" @click="setPage(page)">
                {{page}}
            </p>
        </div>
        <div v-if="availableNav" class="paginations--nav__next" @click="movePage(1)" :disabled="lastPage"><i class="fa fa-arrow-right"></i></div>
  </div>
</template>
<script>
export default {
    name: 'Pagination',
    props: {
        curPage: Number,
        maxPage: Number,
        showableCurPage: Number,
    },
    data() {
        return {
            currentPage: this.curPage,
            showableCurrentPage: this.showableCurPage,
            pages: [],
        }
    },
    created() {
        this.setPages()
    },
    computed: {
        firstPage() {
            return this.showableCurrentPage == 1
        },
        lastPage() {
            return this.showableCurrentPage + 7 >= this.maxPage
        },
        availableNav() {
            return this.maxPage > 8
        },
        showableMinPage() {
            if(!this.availableNav)
                return this.showableCurrentPage
            return (this.showableCurrentPage + 7 <= this.maxPage) ? this.showableCurrentPage : this.maxPage - 7
        },
        showableMaxPage() {
            if(!this.availableNav)
                return this.maxPage
            return (this.showableCurrentPage + 7 <= this.maxPage) ? this.showableCurrentPage + 7 : this.maxPage
        },
    },
    methods: {
        setPages() {
            this.pages = []
            for(var i = this.showableMinPage; i <= this.showableMaxPage; i++) {
                this.pages.push(i)
            }
        },
        setPage(page) {
            this.currentPage = page
        },
        movePage(direction) {
            if (direction === 1 && !this.lastPage) 
                this.showableCurrentPage += 1
            else if(direction === -1 && !this.firstPage)
                this.showableCurrentPage -= 1
            this.setPages()      
        },
    },
    watch: {
        currentPage: function(newPage) {
            this.$emit('update:curpage', newPage)
        },
        showableCurrentPage: function(page) {
            this.$emit('update:showablecurpage', page)
        },
    }
}
</script>
<style lang="scss" scoped>

</style>


