<template>
    <div class="payment-methods">
        <div class="option" v-for="(option, index) in methods" :key="index">
            <label class="checkcontainer">
                <p class="small">{{ option.label | capitalize }}</p>
                <input type="radio" v-model="method" :value="option.value" @change="methodChanged">
                <span class="radiobtn"></span>
            </label>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        methods: {},
    },
    data() {
        return {
            method: null,
        }
    },
    created() {
        this.method = this.methods[0].value
    },
    methods: {
        methodChanged() {
            this.$emit('methodChanged', this.method)
        }
    }
}
</script>

