<template>
    <div class="reasons">
        <div class="option" v-for="(option, index) in reasons" :key="index">
            <label class="checkcontainer">
                <p class="small">{{ option.label | capitalize }}</p>
                <input type="radio" v-model="reason" :value="option.value" @change="reasonChanged">
                <span class="radiobtn"></span>
            </label>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        reasons: {}
    },
    data() {
        return {
            reason: null
        }
    },
    created() {
        this.reason = this.reasons[0].value
    },
    methods: {
        reasonChanged() {
            this.$emit('reasonChanged', this.reason)
        }
    }
}
</script>

