<!DOCTYPE html>
<html>
  <head>
    <title>Mack Weldon Returns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/3.7.1/polaris.min.css" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <%= javascript_pack_tag 'application' %> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
